# Bytes and python
__pycache__/
*.py[cod]
*$py.class


# Large images/diagrams
# architecture.png
# workflow.png

# Keep core diagrams
# Activity Diagram.png
# Class Diagram.png
# Deployment Diagram.png
# Sequence Diagram.png
# Use Case.png

# Virtual environments
venv/
env/
.env

# IDEs
.vscode/
.idea/
